In [114]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import sqlite3 as db
from sqlalchemy import create_engine

In [115]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q,globals())

In [ ]:
# Read the following data set:

In [116]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/"

dataset = "adult.data"
link = url + dataset
data = pd.read_csv(link, header= None)
adult_data=pd.DataFrame(data)
# adult.head(3)
sqladb=adult_data.rename(columns={0:"age",1:"workclass",2:"fnlwgt",3:"education",4:"education-num",5:"marital-status",6:"occupation",7:"relationship",8:"race",9:"sex",10:"capital-gain",11:"capital-loss",12:"hours-per-week",13:"native-country",14:"class"})

sqladb.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# 1. Select 10 records from the adult sqladb

In [117]:
q= """SELECT 
    *
    FROM
        sqladb
    LIMIT 10;"""
pysqldf(q)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [ ]:
# 2. Show me the average hours per week of all men who are working in private sector

In [118]:
#Trim all string(Object) columns for blank spaces:

def trimAllColumns(df):
    trimStrings = lambda x: x.strip() if type(x) is str else x
    return df.applymap(trimStrings)
sqladb = trimAllColumns(sqladb)

# Replace column name having “-“ with “_”

sqladb.columns = sqladb.columns.str.replace('-', '_')

sqladb.head(3)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K

In [119]:
q="SELECT sex,workclass,avg(hours_per_week) from sqladb where sex='Male' and workclass='Private' ;"
pysqldf(q)

    sex workclass  avg(hours_per_week)
0  Male   Private            42.221226

In [ ]:
# 3. Show me the frequency table for education, occupation and relationship, separately

In [120]:
pysqldf("SELECT education, count() from sqladb GROUP BY education")

       education  count()
0           10th      933
1           11th     1175
2           12th      433
3        1st-4th      168
4        5th-6th      333
5        7th-8th      646
6            9th      514
7     Assoc-acdm     1067
8      Assoc-voc     1382
9      Bachelors     5355
10     Doctorate      413
11       HS-grad    10501
12       Masters     1723
13     Preschool       51
14   Prof-school      576
15  Some-college     7291

In [121]:
pysqldf("SELECT occupation, count() from sqladb GROUP BY occupation")

           occupation  count()
0                   ?     1843
1        Adm-clerical     3770
2        Armed-Forces        9
3        Craft-repair     4099
4     Exec-managerial     4066
5     Farming-fishing      994
6   Handlers-cleaners     1370
7   Machine-op-inspct     2002
8       Other-service     3295
9     Priv-house-serv      149
10     Prof-specialty     4140
11    Protective-serv      649
12              Sales     3650
13       Tech-support      928
14   Transport-moving     1597

In [122]:
pysqldf("SELECT relationship, count() from sqladb GROUP BY relationship")

     relationship  count()
0         Husband    13193
1   Not-in-family     8305
2  Other-relative      981
3       Own-child     5068
4       Unmarried     3446
5            Wife     1568

In [ ]:
# 4. Are there any people who are married, working in private sector and having a masters degree

In [123]:
z=pysqldf("SELECT marital_status,workclass,education from sqladb where  workclass='Private'and education='Masters' and marital_status like 'Married%';")
z.info()
print(z)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 540 entries, 0 to 539
Data columns (total 3 columns):
marital_status    540 non-null object
workclass         540 non-null object
education         540 non-null object
dtypes: object(3)
memory usage: 12.7+ KB
            marital_status workclass education
0       Married-civ-spouse   Private   Masters
1       Married-civ-spouse   Private   Masters
2       Married-civ-spouse   Private   Masters
3       Married-civ-spouse   Private   Masters
4       Married-civ-spouse   Private   Masters
5       Married-civ-spouse   Private   Masters
6       Married-civ-spouse   Private   Masters
7       Married-civ-spouse   Private   Masters
8       Married-civ-spouse   Private   Masters
9       Married-civ-spouse   Private   Masters
10      Married-civ-spouse   Private   Masters
11      Married-civ-spouse   Private   Masters
12      Married-civ-spouse   Private   Masters
13      Married-civ-spouse   Private   Masters
14      Married-civ-spouse   Private   Masters
15      Married-civ-spouse   Private   Masters
16      Married-civ-spouse   Private   Masters
17      Married-civ-spouse   Private   Masters
18      Married-civ-spouse   Private   Masters
19      Married-civ-spouse   Private   Masters
20      Married-civ-spouse   Private   Masters
21      Married-civ-spouse   Private   Masters
22      Married-civ-spouse   Private   Masters
23   Married-spouse-absent   Private   Masters
24      Married-civ-spouse   Private   Masters
25      Married-civ-spouse   Private   Masters
26      Married-civ-spouse   Private   Masters
27      Married-civ-spouse   Private   Masters
28      Married-civ-spouse   Private   Masters
29      Married-civ-spouse   Private   Masters
..                     ...       ...       ...
510     Married-civ-spouse   Private   Masters
511     Married-civ-spouse   Private   Masters
512     Married-civ-spouse   Private   Masters
513     Married-civ-spouse   Private   Masters
514     Married-civ-spouse   Private   Masters
515     Married-civ-spouse   Private   Masters
516     Married-civ-spouse   Private   Masters
517     Married-civ-spouse   Private   Masters
518     Married-civ-spouse   Private   Masters
519     Married-civ-spouse   Private   Masters
520     Married-civ-spouse   Private   Masters
521     Married-civ-spouse   Private   Masters
522     Married-civ-spouse   Private   Masters
523     Married-civ-spouse   Private   Masters
524     Married-civ-spouse   Private   Masters
525     Married-civ-spouse   Private   Masters
526     Married-civ-spouse   Private   Masters
527     Married-civ-spouse   Private   Masters
528     Married-civ-spouse   Private   Masters
529     Married-civ-spouse   Private   Masters
530     Married-civ-spouse   Private   Masters
531     Married-civ-spouse   Private   Masters
532     Married-civ-spouse   Private   Masters
533     Married-civ-spouse   Private   Masters
534     Married-civ-spouse   Private   Masters
535     Married-civ-spouse   Private   Masters
536     Married-civ-spouse   Private   Masters
537     Married-civ-spouse   Private   Masters
538     Married-civ-spouse   Private   Masters
539     Married-civ-spouse   Private   Masters

[540 rows x 3 columns]

In [ ]:
# 5. What is the average, minimum and maximum age group for people working in different sector

In [124]:
pysqldf("SELECT workclass,avg(age),min(age),max(age) FROM sqladb GROUP BY  workclass;")

          workclass   avg(age)  min(age)  max(age)
0                 ?  40.960240        17        90
1       Federal-gov  42.590625        17        90
2         Local-gov  41.751075        17        90
3      Never-worked  20.571429        17        30
4           Private  36.797585        17        90
5      Self-emp-inc  46.017025        17        84
6  Self-emp-not-inc  44.969697        17        90
7         State-gov  39.436055        17        81
8       Without-pay  47.785714        19        72

In [ ]:
# 6. Calculate age distribution by country

In [125]:
pysqldf(" SELECT native_country,SUM(CASE WHEN age BETWEEN 1 AND 18 THEN 1 ELSE 0 END) AS [Under 18],SUM(CASE WHEN age BETWEEN 18 AND 50 THEN 1 ELSE 0 END) AS [18-50], SUM(CASE WHEN age BETWEEN 51 AND 120 THEN 1 ELSE 0 END) AS [51-120] FROM sqladb GROUP BY native_country;")

                native_country  Under 18  18-50  51-120
0                            ?        10    482      99
1                     Cambodia         1     17       2
2                       Canada         3     81      38
3                        China         0     55      20
4                     Columbia         1     46      13
5                         Cuba         0     59      36
6           Dominican-Republic         1     57      13
7                      Ecuador         0     26       2
8                  El-Salvador         2     92      12
9                      England         1     68      21
10                      France         0     23       6
11                     Germany         1    109      28
12                      Greece         0     15      14
13                   Guatemala         0     58       6
14                       Haiti         1     32      11
15          Holand-Netherlands         0      1       0
16                    Honduras         1     12       1
17                        Hong         0     19       1
18                     Hungary         0      6       7
19                       India         2     82      17
20                        Iran         0     36       7
21                     Ireland         0     21       3
22                       Italy         0     43      30
23                     Jamaica         1     69      12
24                       Japan         0     56       6
25                        Laos         0     16       2
26                      Mexico        12    576      61
27                   Nicaragua         0     31       3
28  Outlying-US(Guam-USVI-etc)         0     11       3
29                        Peru         3     27       2
30                 Philippines         3    164      33
31                      Poland         1     42      17
32                    Portugal         0     29       8
33                 Puerto-Rico         1     90      23
34                    Scotland         1      9       3
35                       South         0     65      15
36                      Taiwan         0     47       4
37                    Thailand         0     17       1
38             Trinadad&Tobago         1     15       3
39               United-States       898  22930    5866
40                     Vietnam         0     59       8
41                  Yugoslavia         0     13       3

In [113]:
pysqldf("SELECT relationship, count() from sqladb GROUP BY relationship")

     relationship  count()
0         Husband    13193
1   Not-in-family     8305
2  Other-relative      981
3       Own-child     5068
4       Unmarried     3446
5            Wife     1568

In [ ]:
# 7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss

In [129]:
pysqldf("""SELECT *,(capital_gain-capital_loss) 'Net-Capital-Gain' from sqladb a ; """)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class,Net-Capital-Gain
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,2174
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,0
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,14084
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,5178
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,0
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,0
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K,0
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K,0
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K,0
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K,0
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K,0
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K,0
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K,0
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K,0
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,0
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K,0
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K,0
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K,-2042
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K,0
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,0
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K,0
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,0
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K,0
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K,0
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,0
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K,0
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K,0
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K,0
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K,0
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K,0
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,15020
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K,0
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K,0
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K,0
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K,0
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K,0
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K,0
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,0
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K,0
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K,0
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K,1086
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K,0
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K,0
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K,0
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K,0
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K,0
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,0
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,0
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,15024

In [110]:
# One way of doing this.
# sqladb["net_capital_gain"]=sqladb["capital_gain"]-sqladb["capital_loss"]
# sqladb.head(2)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,class,net_capital_gain
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,2174
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0